.trip-details-container {
	background-color: #ebedec;
	color: #5d5d5d;
}

.home-banner-img {
	width: 100%;
}

.trip-details-header-container {
	position: relative;
}

.header-destination {
	background-color: white;
    color: black;
    position: absolute;
    padding: 3px 10px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    top: 20px;
    right: 0;
    font-size: 22px;
}

.flight-overviews {
	display: inline-flex;
	width: 100%;
}

.flight-overview {
	width: 50%;
}

.flight-overview-header {
	font-size: 12px;
}

.flight-overview-content {
	font-weight: 500;
}

div.flight-detail-card {
	border-radius: 0;
}

.flight-detail-card-content {
	padding: 0 !important;
}

.flight-detail-header {
	position: relative;
	background-color: #006465;
}

.flight-detail-header, .flight-detail-header-image {
	width: 100%;
}

.flight-detail-word-in-pic {
	color: white;
	position: absolute;
	font-size: 12px;
}

.flight-detail-date {
	left: 45%;
    top: 5px;
}

.flight-detail-from {
	bottom: 15px;
    left: 12px;
}

.flight-detail-to {
	bottom: 15px;
    right: 21px;
}

.flight-detail-field {
	padding: 10px 20px 5px 20px;
    width: calc(50% - 40px);
	display: inline-block;
}

.flight-detail-field-label {
	font-size: 12px;
}

.flight-detail-field-value {
	font-weight: 500;
}

.no-luggage-header, .no-luggage-alert {
	text-align: center;
}

.no-luggage-alert {
	margin-top: 25px;
}

.baggage-card {
	margin-top: 10px;
}

.baggage-card:last-child {
	margin-bottom: 20px;
}

.baggage-card-header {
	background-color: #006465;
    width: 100%;
    display: inline-flex;
}

.baggage-card-suitcase-wrapper {
	width: 10%;
	padding: 5px 20px;
}

.baggage-card-suitcase {
	width: 100%;
	vertical-align: -webkit-baseline-middle;
}

.baggage-card-basic-info-wrapper {
	width: 80%;
	color: white;
	padding: 5px 10px 5px 0px;
}

.baggage-card-basic-info-wrapper > div:last-child {
	font-size: 12px;
}

.baggage-card-report-wrapper {
	width: 10%;
	padding: 0 10px;
}

.baggage-card-report-wrapper > button {
    padding: 5px;
    width: 100%;
    color: white;
}

.baggage-card-content {
	padding: 0 !important;
}

.baggage-card-summary {
	text-align: left;
	padding-left: 20px !important;
}

.baggage-location {
	font-size: 12px;
}

.expansion-icon-image {
	width: auto;
    height: 100%;
    transform: rotate(90deg);
}

.baggage-timeline-header {

}

.baggage-timeline {
	padding: 24px 24px 0px 38px !important;
}

.delivery {
	position: relative;
	background: #224A78;
}

.deliver-img {
	width: 100%;
}

.delivery-text {
	position: absolute;
    color: white;
    top: 11px;
    left: 20px;
    font-size: 14px;
}

.baggage-card-report-wrapper > div {
    color: white;
    font-size: 12px;
    line-height: 0.5;
}