.headerTitle {
  flex-grow: 1;
}

.headerTitle > img {
  width: 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.appToolBar {
  position: relative;
}

button.appBarButton {
  position: absolute;
}

button.measurementButton {
  padding: 0;
  left: 12px;
}

button.notificationButton {
  right: 36px;
}

button.sideMenuButton {
  padding: 0;
  right: 12px;
  z-index: 100;
}